/* global css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}


h1{
    font-size: 2.6rem;
}

h2{
    font-size: 2.4rem;
}

h3{
    font-size: 3rem;
}

li{
    font-size: 2rem;
}
a{
    color: #ffffff;
    text-decoration: none;
}

/*header css*/
.main-head{
    background: #440905;
    color: #ffffff;
}

nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 2rem;
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
#logo{
    flex: 2 1 40rem;
}
 /* hero*/
.sect{
    min-height: 90vh;
     background: url("/image/gomycode.jpg");
     background-size: cover;
     background-position: bottom;
     flex-direction: column;
     justify-content: center;

}
